{% extends 'base.html.twig' %}
{% block title %}Carnet d'amis - Liste des amis{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center">
        <h2>Liste des amis</h2>
    </div>
    {# <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Téléphone</th>
            </tr>
        </thead>
        <tbody>
            {% for ami in amis %}
                <tr>
                    <td>{{ ami.nom }}</td>
                    <td>{{ ami.prenom }}</td>
                    <td>{{ ami.email }}</td>
                    <td>{{ ami.telephone }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Aucun ami trouvé.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table> #}
{% endblock %}