{% extends 'base.html.twig' %}
{% block title %}Carnet d'amis - Demandes d'amis{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center">
        <h2>Liste des demandes d'amis</h2>
    </div>

    <table>
        <thead>
            <tr>
                <th>Avatar</th>
                <th>Nom d'utilisateur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for friend in friends %}
                <tr>
                    <td>
                        <img src="{{ asset('img/avatar/' ~ friend.avatar) }}" alt="..." class="img-fluid rounded-circle" style="width: 50px; height: 50px;">
                    </td>
                    <td>{{ friend.username }}</td>
                    <td>
                        <a href="{{ path('app_accepte', { id: friend.id }) }}" class="button accept">Accepter</a>
                        <a href="" class="button decline">Refuser</a> 
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">Aucune demande d'ami trouvée.</td>  
                </tr> 
            {% endfor %}
    </table>
{% endblock %}