{% extends 'base.html.twig' %}
{% block title %}Carnet d'amis - Liste d'amis{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center flex-column align-items-center">
        <h2>Vos amis</h2>
    
        <table class="table w-75">
            <thead>
                <tr>
                    <th scope="col">Avatar</th>
                    <th scope="col">Nom d'utilisateur</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for friend in friends %}
                    <tr class="align-middle">
                        <th scope="row">
                            <img src="{{ asset('img/avatar/' ~ friend.avatar) }}" alt="..." class="img-fluid rounded-circle" style="width: 50px; height: 50px;">
                        </th>
                        <td>{{ friend.username }}</td>
                        <td><div class="d-flex"><a href="" class="button cancel">Supprimer</a></div></td>
                    </tr>
                {% else %}
                    <tr> 
                        <td colspan="3" class="text-center">Aucun ami trouvé.</td>
                    </tr>
                {% endfor %}
        </table>
    </div>
{% endblock %}