/* style principal */
body {
    background-color: #F9FAFB;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header {
    background-color: #A5B4FC;
    padding: 10px;
    /* border: 2px solid black; */
    border-radius: 0px 0px 30px 30px;
    box-shadow: 0px 5px 15px gray;
}

main{
    padding: 10px;
    flex: 1;
}

nav{
    padding: 20px;
}

footer{
    background-color: #A5B4FC;
    padding: 16px;
    border-radius: 30px 30px 0px 0px;
    /* border: 1px solid black; */
    box-shadow: 0px 5px 15px 10px gray;
}

/* style des boutons */
.button{
    background-color: #C4B5FD;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}
.sign{
    background-color: black;
}
.log{
    background-color: #A5B4FC;
    color: #374151;
}