/* style principal */
body {
    background-color: #F9FAFB;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header {
    background-color: #A5B4FC;
    padding: 10px;
    border-radius: 0px 0px 30px 30px;
    box-shadow: 0px 5px 15px gray;
}

main{
    padding: 10px;
    flex: 1;
}

nav{
    padding: 20px;
}

footer{
    background-color: #A5B4FC;
    padding: 16px;
    border-radius: 30px 30px 0px 0px;
    box-shadow: 0px 5px 15px 10px gray;
}

/* style des boutons */
.button{
    background-color: #C4B5FD;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    border: none;
}
.sign{
    background-color: black;
}
.log{
    background-color: #A5B4FC;
    color: #374151;
}
.submit {
    background-color: #FBCFE8;
    color: #374151;
}.submit:hover {
    transform: scale(1.1); 
}
.logout, .cancel{
    background-color: rgb(230, 112, 112);
    color: #374151;
}

img{
    aspect-ratio: 1/1;
    width: 200px;
}